@model EmployeeList

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>
<div id="employeeList" class="grid" data-options="@Model.GridOptions?.Serialize(Url)" data-detail-url="@Url.Action("Detail")"></div>
@Html.AntiForgeryToken()